#BADCOPYRIGHT{
    position:fixed;
    background-color: rgb(117, 223, 60);
    border: 5px line black;
    width: 100%;
    text-align: center;
    bottom: 0;
}

#title{
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    width:100%;
    background-color: rgb(117, 223, 60);
    font-family: 'Lora', serif;
    font-size: 38px;
}

body{
    background-color: rgb(240, 57, 57);
    color:black;
    
}

#Real{
    font-family: 'Lora', serif;
}

#note{
    font-family: 'Noto Serif', serif;
    color:black;
}

#threat{
    color: red;
}

body{
    background-color: rgba(30, 255, 79, 0.769);
}